/* Formatação default dos parágrafos */
p{
    font-size: 16px;
    margin: 18px 0;
    text-indent: 30px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.5;
    }

    h1{
        color: rgb(129, 13, 32);
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0 0 18px 0;

    }
